@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

.main {
  font-family: "Poppins", Sans-serif;
}

.main1 {
  padding-inline: 200px;
  margin-block: 5%;
}

.div-main {
  display: flex;
}

.div-h1 {
  color: #18a558;
  font-size: 25px;
}

.div-p {
  font-size: 16px;
}

.div-button {
  width: 35px;
  padding-block: 20px;
}

.div-button button {
  font-size: 15px;
  color: white;
  background-color: #18a558;
  width: 150px;
  height: 35px;
  border-radius: 12px;
  border: none;
  margin-block: 5px;
}

.div-img img {
  width: 476px;
  height: 353px;
}

.pelajaran {
  display: flex;
  justify-content: space-between;
}

.pelajaran p {
  font-size: 20px;
  color: #18a558;
  padding-left: 40px;
  font-weight: bold;
  font-weight: 600;
}

.box {
  width: 23%;
  height: 150px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 3px rgb(238, 238, 238);
}

.isi {
  display: flex;
  padding-inline: 20px;
  padding-block: 75px;
  align-items: center;
  align-content: center;
}

.isi img {
  width: 60px;
  height: 60px;
}

.tentang {
  display: flex;
  margin-block: 20px;
}

.gambar img {
  width: 540px;
  height: 330px;
}

.isinya {
  padding-block: 30px;
  margin-left: 50px;
}

.isinya h2 {
  color: #18a558;
  font-weight: 600;
}

.p {
  margin-block: 15px;
  font-size: 16px;
}

.ul {
  margin-left: 40px;
  font-size: 16px;
}

.isinya2 {
  padding-block: 30px;
}

.isinya2 h2 {
  color: #18a558;
  font-weight: 600;
}

.partnernya {
  margin-block: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.partner h2 {
  color: #18a558;
  font-weight: 600;
}

.partner-partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px;
}

.partner-1 {
  width: 265px;
  height: 100px;
}

.partner-2 {
  width: 165px;
  height: 165px;
}

.partner-3 {
  width: 265px;
  height: 66px;
}

.partner-4 {
  width: 225px;
  height: 110px;
}

.partner-5 {
  width: 360px;
  height: 131px;
}

.partner-6 {
  width: 300px;
  height: 120px;
}

.partner-7 {
  width: 259px;
  height: 80px;
}

.fasilitas h2 {
  color: #18a558;
  font-weight: 600;
}

.perempat {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block: 30px;
  gap: 29px;
}

.perempat p {
  font-size: 20px;
  color: #18a558;
  padding-left: 40px;
  font-weight: bold;
}

.biaya h2 {
  color: #18a558;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.h3 {
  color: #ff3131;
  font-weight: 600;
}

.tabel {
  margin-block: 20px;
}

.tabel table {
  border-collapse: collapse;
  font-size: 16px;
}

.tr {
  color: white;
  background-color: #18a558;
}

.tr td {
  width: 500px;
  height: 50px;
}

.tr h3 {
  display: flex;
  justify-content: center;
}

.tr2 {
  background-color: #d5ffe8;
}

.tr2 td {
  width: 500px;
  height: 50px;
}

.tr2 p {
  display: flex;
  justify-content: center;
}

.tr3 {
  background-color: #fff;
}

.tr3 td {
  width: 500px;
  height: 50px;
}

.tr3 p {
  display: flex;
  justify-content: center;
}

.keterangan {
  margin-block: 30px;
}

.keterangan h2 {
  color: #18a558;
  font-weight: 600;
}

.ol {
  font-size: 18px;
  margin-block: 20px;
  margin-left: 20px;
}

.ul {
  list-style-type: disc;
}

.li-ol {
  margin-block: 24px;
}

.main-bawah {
  background-image: url(https://smkmadinatulquran.sch.id/wp-content/uploads/2020/09/axio.jpg);
  background-size: cover;
  background-position: center;
  height: 310px;
  position: relative;
}

.main-bawah::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Efek opacity pada overlay */
  z-index: 1;
}

.pendaftaran {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 70px;
  z-index: 2; /* Pastikan konten tetap di atas overlay */
  position: relative;
}

.pendaftaran h2 {
  color: #18a558;
  font-weight: 600;
  margin-bottom: 24px;
}

.pendaftaran p {
  width: 615px;
  font-size: 16px;
  margin-bottom: 24px;
}

.pendaftaran button {
  font-size: 15px;
  color: white;
  background-color: #18a558;
  width: 150px;
  height: 35px;
  border-radius: 12px;
  border: none;
}

/* -----------------------------------------------------footer------------------------------------------------------ */

foter {
  background-color: #22a04e;
  color: white;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
  justify-content: center;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  margin-top: 20px;
  font-size: 14px;
}

/* ---------------------------------------------------------responsive---------------------------------------------------- */

@media (max-width: 480px) {
  .div-main {
    flex-direction: column-reverse;
    padding-block: 10px;
  }
  .main1 {
    padding-inline: 10px;
  }
  .div-h1 h1 {
    font-size: 26px;
  }
  .div-img img {
    display: flex;
    justify-content: center;
    width: 400px;
    height: auto;
  }
  .div-p {
    font-size: 14px;
  }
  button {
    height: 50px;
    width: 50px;
  }
  .pelajaran {
    flex-direction: row;
    gap: 30px;
  }
  .box {
    width: 46%;
  }
  .isinya {
    margin-left: 0;
  }
  .isi {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .isi img {
    width: 50px;
    height: 50px;
  }
  .isi p {
    font-size: 18px;
    padding-left: 0;
  }
  .pelajaran {
    flex-wrap: wrap;
  }
  .tentang {
    flex-direction: column;
  }
  .gambar img {
    width: 280px;
    height: 171px;
    padding-left: 1px;
  }
  .partner-1 img {
    width: 140px;
    height: 52px;
  }
  .partner-2 img {
    width: 80px;
    width: 80px;
  }
  .partner-3 img {
    width: 160px;
    height: 70px;
  }
  .partner-4 img {
    width: 160px;
    height: 70px;
  }
  .partner-5 img {
    width: 140px;
    height: 51px;
  }
  .partner-6 img {
    width: 120px;
    height: 48px;
  }
  .partner-7 img {
    width: 140px;
    height: 31px;
  }
  .partnernya {
    justify-content: center;
  }
  .tabel {
    overflow-x: auto; /* Scroll horizontal jika tabel terlalu lebar */
  -webkit-overflow-scrolling: touch; /* Scroll lebih halus untuk perangkat sentuh */
  }
  .main-bawah {
    height: 350px;
  }
  .pendaftaran {
    justify-content: center;
  }
  .pendaftaran h2 {
    text-align: center;
  }
  .pendaftaran p {
    width: auto;
    text-align: center;
  }
  .semua-footer {
    min-height: 500px;
  }
  .semua {
    width: auto;
  }
  .keseluruhan {
    flex-direction: column;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .div-main {
    flex-direction: column-reverse;
    padding-block: 10px;
    padding-inline: 2px;
  }
  .main1 {
    padding-inline: 20px;
  }
  .div-h1 h1 {
    font-size: 26px;
  }
  .div-img img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .div-p {
    font-size: 14px;
  }
  button {
    height: 50px;
    width: 50px;
  }
  .pelajaran {
    flex-direction: row;
  }
  .box {
    width: 44%;
    justify-content: center;
    padding: 0;
  }
  .isi {
    flex-direction: column;
  }
  .isi img {
    width: 31px;
    height: 31px;
  }
  .isi p {
    font-size: 11px;
    margin-left: 1px;
    text-align: center;
    padding-left: 0;
  }
  .pelajaran {
    flex-wrap: wrap;
  }
  .tentang {
    flex-direction: column;
  }
  .gambar img {
    width: 280px;
    height: 171px;
    margin-inline: 20px;
  }
  .partner-1 img {
    width: 140px;
    height: 52px;
    margin-inline: 20px;
  }
  .partner-2 img {
    width: 80px;
    width: 80px;
    margin-inline: 20px;
  }
  .partner-3 img {
    width: 160px;
    height: 70px;
    margin-inline: 20px;
  }
  .partner-4 img {
    width: 160px;
    height: 70px;
    margin-inline: 20px;
  }
  .partner-5 img {
    width: 140px;
    height: 51px;
    margin-inline: 20px;
  }
  .partner-6 img {
    width: 120px;
    height: 48px;
    margin-inline: 20px;
  }
  .partner-7 img {
    width: 140px;
    height: 31px;
    margin-inline: 20px;
  }
  .partner-partner {
    flex-wrap: wrap;
    gap: 30px;
  }
  .perempat {
    flex-wrap: wrap;
  }
  .keseluruhan {
    flex-direction: column;
    margin-block: 20px;
  }
  .tabel p {
    font-size: 10px;
  }
  .tabel h3 {
    font-size: 10px;
  }
}